module Mysqlconnect where 

#ifdef HSQL16
import Database.HSQL.MySQL
#elif HSQL14
import Database.HSQL.MySQL
#elif HSQL12
import Database.MySQL.HSQL
#endif

-- Mysql
mysqlhost="localhost"
mysqldb="autoan"
mysqluser="user"
mysqlpasswd="passwort"

myconnect = connect mysqlhost mysqldb mysqluser mysqlpasswd 
