module Mysqlconnect where 

import Database.MySQL.HSQL

-- Mysql                                                                                                                       
mysqlhost="localhost"
mysqldb="autoan"
mysqluser="user"
mysqlpasswd="passwort"

myconnect = connect mysqlhost mysqldb mysqluser mysqlpasswd 
