module Mysqlconnect where 

#ifdef HSQL14
import Database.HSQL.MySQL
#else
import Database.MySQL.HSQL
#endif

-- Mysql
mysqlhost="localhost"
mysqldb="autoan"
mysqluser="user"
mysqlpasswd="passwort"

myconnect = connect mysqlhost mysqldb mysqluser mysqlpasswd 
